.ICEauthority
.WebStorm2017.3/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.emacs.d/
.gitconfig
.gnome/
.gnupg/
.idea/
.java/
.local/
.mozilla/
.node-gyp/
.npm/
.nvm/
.pki/
.profile
.python_history
.ssh/
.sudo_as_admin_successful

code/
core
examples.desktop
install_nvm.sh
vmware-tools-distrib/
webstorm/

